extends ../layout2.jade

block content
  .row(style="padding-top:30px;")
    .col-12
      .card
        .card-body.p-b-0
          ul.nav.nav-tabs.customtab(role='tablist')
            li.nav-item
              a.nav-link.show.active(data-toggle='tab', href='#home2', role='tab', aria-selected='true')
                span.hidden-sm-up
                  i.ti-home
                span.hidden-xs-down Devices List
            li.nav-item
              a.nav-link.show(data-toggle='tab', href='#profile2', role='tab', aria-selected='false')
                span.hidden-sm-up
                  i.ti-user
                span.hidden-xs-down Upload Devices

          // Tab panes
          .tab-content
            #home2.tab-pane.show.active(role='tabpanel')
              .p-20
                h4.card-title Provider Devices
                h6.card-subtitle Devices details
                .table-responsive.m-t-40
                    table#example23.display.nowrap.table.table-hover.table-striped.table-bordered.dataTable(cellspacing='0', width='100%', role='grid', aria-describedby='example23_info', style='width: 100%;')
                      thead
                        tr(role='row')
                          th.sorting(tabindex='0', rowspan='1', colspan='1', aria-label='Start date: activate to sort column ascending', style='width: 30px;')
                          th.sorting_asc(tabindex='0', aria-controls='example23', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Name: activate to sort column descending', style='width: 162px;') Name
                          th.sorting(tabindex='0', aria-controls='example23', rowspan='1', colspan='1', aria-label='Position: activate to sort column ascending', style='width: 150px;') IMEI
                          th.sorting(tabindex='0', aria-controls='example23', rowspan='1', colspan='1', aria-label='Office: activate to sort column ascending', style='width: 119px;') Model
                          th.sorting(tabindex='0', aria-controls='example23', rowspan='1', colspan='1', aria-label='Age: activate to sort column ascending', style='width: 45px;') Admission Date
                          th.sorting(tabindex='0', aria-controls='example23', rowspan='1', colspan='1', aria-label='Start date: activate to sort column ascending', style='width: 104px;') Ubication
                      tfoot
                        tr
                          th(rowspan='1', colspan='1')
                          th(rowspan='1', colspan='1') Name
                          th(rowspan='1', colspan='1') IMEI
                          th(rowspan='1', colspan='1') Model
                          th(rowspan='1', colspan='1') Admission Date
                          th(rowspan='1', colspan='1') Ubication
                      tbody
                        tr.odd(role='row')
                          td
                            .md-checkbox.chk-col-indigo
                              input#i2(type='checkbox')
                              label(for='i2')
                          td.sorting_1 Motorola
                          td 123456789123456
                          td G7
                          td 2008/11/28
                          td In Stock

                        tr.even(role='row')
                          td
                            .md-checkbox.chk-col-indigo
                              input#i3(type='checkbox')
                              label(for='i3')
                          td.sorting_1 Samsung
                          td 1234567893333333
                          td s10
                          td 2017/12/28
                          td In Stock

                        tr.odd(role='row')
                          td
                            .md-checkbox.chk-col-indigo
                              input#i4(type='checkbox')
                              label(for='i4')
                          td.sorting_1 Huawei
                          td 1234567894444444
                          td p20
                          td 2017/08/28
                          td In Stock


                        tr.even(role='row')
                          td
                            .md-checkbox.chk-col-indigo
                              input#i5(type='checkbox')
                              label(for='i5')
                          td.sorting_1 Lanix
                          td 1234567891111111
                          td j45
                          td 2016/12/28
                          td In Stock


            #profile2.tab-pane.p-20.show(role='tabpanel')
              .vtabs.customvtab
                ul.nav.nav-tabs.tabs-vertical(role='tablist')
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#home3', role='tab')
                      span.hidden-sm-up
                        i.ti-home
                      span.hidden-xs-down One
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#profile3', role='tab')
                      span.hidden-sm-up
                        i.ti-user
                      span.hidden-xs-down From .csv
                // Tab panes
                .tab-content
                  #home3.tab-pane.active(role='tabpanel')
                    .p-20
                      form(action='#')
                        .form-body
                          h3.card-title Device Info
                          hr
                          .row.p-t-20
                            .col-md-4
                              .form-group
                                label.control-label Comercial Name
                                input#firstName.form-control
                                small.form-control-feedback  This is inline help
                            // /span
                            .col-md-4
                              .form-group
                                label.control-label IMEI
                                input#lastName.form-control(type='number')
                                //small.form-control-feedback(style="display:none")  This field has error.
                            .col-md-4
                              .form-group
                                label.control-label Model
                                input#lastName.form-control(type='text')
                            // /span
                            // /row
                          .row
                            .col-md-6
                              .form-group
                                label.control-label Ubication
                                input#firstName.form-control(type='text', placeholder='In Stock', style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;')
                                small.form-control-feedback  This is inline help
                              // /span
                            .col-md-6
                              .form-group
                                label.control-label Admission Date
                                input.form-control(type='date', placeholder='dd/mm/yyyy')
                        .row
                          .col-md-4
                            button.btn.btn-success(type='submit')
                              i.fa.fa-check
                              |  Save
                          .col-md-4
                            button.btn.btn-inverse(type='button') Cancel



                  #profile3.tab-pane.p-20(role='tabpanel')
                    form.row(action='')
                      .col-md-12
                        input.dropify(type='file', data-default-file='')







      script(src="./javascripts/angular.min.js")
      script(src="./javascripts/jquery-2.1.1.min.js")
      script(src="./javascripts/controllers/list_course.js")
